## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

# Create the list
sample_list_2 = [random.randint(0, 100) for number in range(80)]

print(sample_list_2)

[69, 78, 63, 34, 35, 94, 47, 71, 7, 55, 80, 2, 37, 50, 36, 22, 54, 89, 90, 3, 76, 98, 28, 17, 32, 23, 99, 17, 2, 10, 63, 71, 1, 17, 21, 62, 11, 35, 32, 61, 33, 1, 66, 21, 91, 21, 21, 16, 84, 0, 77, 7, 23, 48, 69, 19, 41, 38, 73, 63, 5, 76, 13, 48, 47, 0, 63, 19, 67, 37, 40, 75, 98, 0, 88, 99, 5, 70, 31, 67]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)

print(set2)

{0, 1, 2, 3, 5, 7, 10, 11, 13, 16, 17, 19, 21, 22, 23, 28, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 47, 48, 50, 54, 55, 61, 62, 63, 66, 67, 69, 70, 71, 73, 75, 76, 77, 78, 80, 84, 88, 89, 90, 91, 94, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [21]:
# Your code here
list3 = []

for element in set1:
    if element not in set2:
        list3.append(element)

set3 = set(list3)

print(set3)

{4, 6, 8, 9, 14, 15, 18, 20, 24, 25, 27, 29, 30, 39, 42, 43, 44, 45, 46, 49, 51, 52, 53, 57, 58, 59, 64, 65, 68, 72, 74, 79, 82, 85, 86, 87, 92, 93, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [20]:
# Your code here
list4 = []

for element in set2:
    if element not in set1:
        list4.append(element)

set4 = set(list4)

print(set4)

{32, 34, 67, 69, 40, 73, 48, 19, 21, 88, 90, 61, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [22]:
# Your code here
list5 = []

for element in set2:
    if element in set1:
        list5.append(element)

set5 = set(list5)

print(set5)

{0, 1, 2, 3, 5, 7, 10, 11, 13, 16, 17, 22, 23, 28, 31, 33, 35, 36, 37, 38, 41, 47, 50, 54, 55, 62, 66, 70, 71, 75, 76, 77, 78, 80, 84, 89, 91, 94, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [24]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# DO NOT UNDERSTAND THE QUESTION

80
53
40
13
40

#### Create an empty set called `set6`.

In [29]:
# Your code here
set6 = set([])

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
# Your code here
set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [43]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [48]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here
set7 = set()
set7.union(set3, set4, set5)
set7.union(set1, set2)

# DO NOT UNDERSTAND WHAT "CHECK IF AGGREGATED VALUES ARE EQUAL"

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99}

#### Using the `pop` method, remove the first element from `set1`.

In [67]:
# Your code here
list_1 = list(set1)
print(list_1)
list_1.pop(0)
print(list_1)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 98, 99]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 64, 65, 66, 68, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 89, 91, 92, 93, 94, 95, 96, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [71]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference_update(list_to_remove)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 33, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 50, 52, 53, 54, 55, 57, 58, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 92, 93, 94, 95, 96, 98}